/***************Index.html****************/
.page
{
	display:flex;
	justify-content: center;
	margin-top:10%;
}

.page div
{
	display: flex;	
	flex-direction: column ;
	align-items: center;

	background-color: LightSteelBlue;
	border: 5px solid black;
	padding: 0px 15px 0px 15px;
	
}

.page div nav ul
{
	list-style:none;
	margin:-13px 25px 10px 10px;
}

.page div nav ul a
{
	color:black;
	font-size: 140%;
	font-family: sans-serif;
	text-decoration: none;
}

.page div nav ul a:hover
{background:white;}

h1
{
	font-size:170%;
}

/***********apache2.html / php.html**************/

.page2
{
	/*Colocação da borda*/
	max-width: 100%;
	margin: 10px 1% 1% 1%;
	border: 4px solid black;
	padding:5px 25px 5px 25px;
	background-color:LightBlue;
	
	/*Formatação do contudo*/
	align-items: left;
	font-family: Sans-serif;
	font-size: 106%;
	color: #070707;
}

.navigation ul
{	
	display:flex;
	justify-content: center;
	position: fixed;
	top:-10px;
	list-style:none;
	background:black;
	width:95%;
	border: 3px solid white;
}

.navigation a
{
	padding:0 5px 0 5px;
	color:white;
	text-decoration: none;
	font-size: 110%;
	font-family: sans-serif;
}

.navigation a:hover
{background:#1C1C1C;}

/***Fundo de todas as telas secundarias***/
.background
{
	background-color:#00008B;
}
