.nav-class{
  position: fixed;
  top: var(--tamanho-header);
  left: 0;
  height: 100%;
  width: 13em;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color:  #e6e7d8;
}

.nav-class-h1{
  font-size: 1em;
  font-weight: bold;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  padding: 10px 10px 10px 10px;
  border-bottom: 3px rgba(60, 60, 60, 0.20) solid;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.nav-class-h1:hover{
  cursor: pointer;
  background-color:  #d5d6c8;
}
